main {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px;
}

#center {
  text-align: center;
  margin-bottom: 32px;
}

#center h1 {
  margin-bottom: 8px;
  font-size: 40px;
}

#center h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 400;
}

.info-card-section {
  display: grid;
  gap: 16px;
  margin-bottom: 32px;
}

.info-card {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #dddddd;
}

.info-card h3 {
  margin-top: 0;
}

button {
  cursor: pointer;
  padding: 10px 16px;
  border: 1px solid #333333;
  border-radius: 6px;
  ;
}